## PYTHON
__pycache__/
.venv
venv
.vscode

## SECRETS
.env
secrets.toml

## DATABASE
*.db

## Jupyter
test.ipynb
PruebasDB.ipynb
prb.ipynb

## TESTING
temp/
test.py

## External Components
my_daypilot/

actualizar_tablas.py